<!DOCTYPE html>
<html>
<head>
<title>component/collection</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>collection</h1>

<p>Enumerable data model collections, with all <a href="https://github.com/component/enumerable">Enumerable</a><br />  methods available.</p>

<h2>Installation</h2>

<pre><code>$ component install component/collection
</code></pre>

<h2>API</h2>

<h3>Collection([models])</h3>

<p>Initialize a new collection with the given <code>models</code>.</p>

<h3>Collection#length()</h3>

<p>Return the collection length.</p>

<h3>Collection#push(model:Object)</h3>

<p>Add <code>model</code> to the collection and return the index.</p>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>