<!DOCTYPE html>
<html>
<head>
<title>component/grow</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>Grow</h1>

<p>Grow textareas as the user types.</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ npm install grow-component
</pre></div>

<h2>API</h2>

<h3>grow(el, [options])</h3>

<div class="highlight"><pre lang="js">var el = document.querySelector('textarea');
var grow = require('grow');
grow(el, { max: 5 });
</pre></div>

<h2>Options</h2>

<ul>
<li><code>max</code> (number) maximum rows</li>
</ul>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>