<!DOCTYPE html>
<html>
<head>
<title>component/piecon</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>piecon</h1>

<p>Pie charts for <a href="https://github.com/component/favicon">component/favicon</a><br />  inspired by the original <a href="https://github.com/lipka/piecon">piecon</a>. Styled<br />  with CSS!</p>

<p><img src="http://f.cl.ly/items/3T2g1b2w1j2t3e3A1Y3r/Screen%20Shot%202012-09-20%20at%2012.55.50%20PM.png" alt="js pie favicons" title="" /></p>

<h2>Installation</h2>

<pre><code>$ component install component/piecon
</code></pre>

<h2>Styling</h2>

<p>Piecon utilizes <a href="https://github.com/component/style">component/style</a><br />  to enable CSS styling for Canvas rasters. For example the default<br />  style is:</p>

<div class="highlight"><pre lang="css">.pie {
  color: #EC4E89;
  background: #bbb;
  border: 2px solid white;
}
</pre></div>

<h2>API</h2>

<h3>new Piecon([selector])</h3>

<p>Initialize a new <code>Piecon</code> with optional CSS <code>selector</code> used<br />  for styling, this defaults to ".pie".</p>

<h3>Piecon#update(n)</h3>

<p>Update the percentage to <code>n</code>, this will automatically<br />  draw the pie and replace the favicon.</p>

<h3>Piecon#size(n)</h3>

<p>Set the diameter to <code>n</code>.</p>

<h1>License</h1>

<p>MIT</p>
</article>
</body>
</html>