<!DOCTYPE html>
<html>
<head>
<title>component/path</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>path</h1>

<p>Path utilities.</p>

<h2>API</h2>

<ul>
<li><a href="#extnamepath">.extname(path)</a></li>
<li><a href="#basenamepath">.basename(path)</a></li>
<li><a href="#dirnamepath">.dirname(path)</a>
<a name=""></a></li>
</ul>

<p><a name="extnamepath"></a></p>

<h3>.extname(path)</h3>

<p>should return the extension.</p>

<div class="highlight"><pre lang="js">p.extname('png').should.equal('');
p.extname('.png').should.equal('.png');
p.extname('foo.png').should.equal('.png');
p.extname('foo/bar/baz.png').should.equal('.png');
p.extname('foo/bar.bar.baz/raz.png').should.equal('.png');
</pre></div>

<p><a name="basenamepath"></a></p>

<h3>.basename(path)</h3>

<p>should return the last path segment.</p>

<div class="highlight"><pre lang="js">p.basename('foo').should.equal('foo');
p.basename('foo/bar/baz').should.equal('baz');
p.basename('foo/bar/baz').should.equal('baz');
p.basename('foo/bar/baz.png').should.equal('baz.png');
</pre></div>

<p><a name="dirnamepath"></a></p>

<h3>.dirname(path)</h3>

<p>should return the leading segments.</p>

<div class="highlight"><pre lang="js">p.dirname('').should.equal('.');
p.dirname('foo').should.equal('.');
p.dirname('foo/bar/baz').should.equal('foo/bar');
p.dirname('foo/bar/baz.png').should.equal('foo/bar');
</pre></div>

<h2>License</h2>

<p>(The MIT License)</p>

<p>Copyright (c) 2012 TJ Holowaychuk &lt;<a href='mailto:tj@vision-media.ca'>tj@vision-media.ca</a>&gt;</p>

<p>Permission is hereby granted, free of charge, to any person obtaining<br />a copy of this software and associated documentation files (the<br />'Software'), to deal in the Software without restriction, including<br />without limitation the rights to use, copy, modify, merge, publish,<br />distribute, sublicense, and/or sell copies of the Software, and to<br />permit persons to whom the Software is furnished to do so, subject to<br />the following conditions:</p>

<p>The above copyright notice and this permission notice shall be<br />included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND,<br />EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF<br />MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.<br />IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY<br />CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,<br />TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE<br />SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</article>
</body>
</html>