<!DOCTYPE html>
<html>
<head>
<title>component/simplify</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>Simplify</h1>

<p>Path smoothing component, a fork of <a href="http://mourner.github.com/simplify-js/">simplify-js</a>.</p>

<h2>Installation</h2>

<pre><code>$ component install component/simplify
</code></pre>

<h2>API</h2>

<h3>simplify(points, [tolerance], [highestQuality])</h3>

<p>Simplify the given <code>points</code>, an array of objects with <code>.x</code> and <code>.y</code><br />  properties, with the given <code>tolerance</code> defaulting to <code>1</code>.</p>

<h2>License</h2>

<p>BSD</p>
</article>
</body>
</html>