<!DOCTYPE html>
<html>
<head>
<title>component/underscore</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<pre><code>                   __
                  /\ \                                                         __
 __  __    ___    \_\ \     __   _ __   ____    ___    ___   _ __    __       /\_\    ____
/\ \/\ \ /' _ `\  /'_  \  /'__`\/\  __\/ ,__\  / ___\ / __`\/\  __\/'__`\     \/\ \  /',__\
\ \ \_\ \/\ \/\ \/\ \ \ \/\  __/\ \ \//\__, `\/\ \__//\ \ \ \ \ \//\  __/  __  \ \ \/\__, `\
 \ \____/\ \_\ \_\ \___,_\ \____\\ \_\\/\____/\ \____\ \____/\ \_\\ \____\/\_\ _\ \ \/\____/
  \/___/  \/_/\/_/\/__,_ /\/____/ \/_/ \/___/  \/____/\/___/  \/_/ \/____/\/_//\ \_\ \/___/
                                                                              \ \____/
                                                                               \/___/
</code></pre>

<p>Underscore.js is a utility-belt library for JavaScript that provides<br />support for the usual functional suspects (each, map, reduce, filter...)<br />without extending any core JavaScript objects.</p>

<p>For Docs, License, Tests, and pre-packed downloads, see:<br /><a href='http://underscorejs.org'>http://underscorejs.org</a></p>

<p>Many thanks to our contributors:<br /><a href='https://github.com/documentcloud/underscore/contributors'>https://github.com/documentcloud/underscore/contributors</a></p>
</article>
</body>
</html>