<!DOCTYPE html>
<html>
<head>
<title>component/indexof</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>indexOf</h1>

<p>Lame indexOf thing, thanks microsoft</p>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var index = require('indexof');
index(arr, obj);
</pre></div>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>