<!DOCTYPE html>
<html>
<head>
<title>component/bus</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>Bus</h1>

<p>Application-wide event bus component (a Singleton <code>Emitter</code>).</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ npm install bus
</pre></div>

<h2>API</h2>

<div class="highlight"><pre lang="js">var bus = require('bus');
bus.emit('stuff');
</pre></div>
</article>
</body>
</html>