<h1>Overlay</h1>

<p>Page overlay component.</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ npm install overlay-component
</pre></div>

<h2>API</h2>

<h3>overlay([options])</h3>

<p>Returns a new <code>Overlay</code>.</p>

<p>Options:</p>

<ul>
<li><code>closable</code>: whether or not a user may click the overlay to close [<strong>false</strong>]</li>
</ul>

<h3>Overlay#show()</h3>

<p>Show the overlay.</p>

<h3>Overlay#hide()</h3>

<p>Hide the overlay.</p>

<h2>Events</h2>

<ul>
<li><code>show</code> when the overlay is shown</li>
<li><code>hide</code> when the overlay is hidden</li>
<li><code>close</code> when the overlay is removed (follows hide normally)</li>
</ul>

<h2>License</h2>

<p>MIT</p>