<h1>Noticon</h1>

<p>Favicon notifications inspired by original <a href="https://github.com/tommoor/tinycon">tinycon</a>. Styled<br />  with CSS!</p>

<p><img src="http://f.cl.ly/items/2O1Q2i063O1V1Y010V1c/Screen%20Shot%202012-09-20%20at%203.45.31%20PM.png" alt="js pie favicons" title="" /></p>

<h2>Installation</h2>

<pre><code>$ component install component/noticon
</code></pre>

<h2>Styling</h2>

<p>Noticon utilizes <a href="https://github.com/component/style">component/style</a><br />  to enable CSS styling for Canvas rasters. For example the default<br />  style is:</p>

<div class="highlight"><pre lang="css">.noticon {
  color: white;
  background: #ED372A;
}
</pre></div>

<h2>API</h2>

<h3>new Noticon([selector])</h3>

<p>Initialize a new <code>Noticon</code> with optional CSS <code>selector</code> used<br />  for styling, this defaults to ".noticon".</p>

<h3>Noticon#update(n)</h3>

<p>Update the number to <code>n</code>, this will automatically<br />  draw the bubble and replace the favicon.</p>

<h1>License</h1>

<p>MIT</p>