<h1>pie</h1>

<p>Pie charts for <a href="https://github.com/component/piecon">component/piecon</a><br />  inspired by the original <a href="https://github.com/lipka/piecon">piecon</a>. Styled<br />  with CSS!</p>

<p><img src="http://f.cl.ly/items/360n3W0D2I451205041b/Screen%20Shot%202012-09-19%20at%204.35.54%20PM.png" alt="" title="" /></p>

<h2>Installation</h2>

<pre><code>$ component install component/pie
</code></pre>

<h2>Styling</h2>

<p>Pie utilizes <a href="https://github.com/component/style">component/style</a><br />  to enable CSS styling for Canvas rasters. For example the default<br />  style is:</p>

<div class="highlight"><pre lang="css">.pie {
  color: #EC4E89;
  background: #bbb;
  border: 2px solid white;
}
</pre></div>

<h2>API</h2>

<h3>new Pie([selector])</h3>

<p>Initialize a new <code>Pie</code> with optional CSS <code>selector</code> used<br />  for styling, this defaults to ".pie".</p>

<h3>Pie#update(n)</h3>

<p>Update the percentage to <code>n</code>.</p>

<h3>Pie#size(n)</h3>

<p>Set the diameter to <code>n</code>.</p>

<h3>Pie#draw(ctx)</h3>

<p>Draw on <code>ctx</code>.</p>

<h1>License</h1>

<p>MIT</p>