<!DOCTYPE html>
<html>
<head>
<title>component/focus</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>focus</h1>

<p>Focal point detection (work in progress).</p>

<h2>Installation</h2>

<pre><code> $ component install component/focus
</code></pre>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var focus = require('focus');
var point = focus(canvas);
</pre></div>

<h2>Examples</h2>

<p><img src="http://f.cl.ly/items/1s0P2t0R3o3y1o2H0p3J/fox.jpg" alt="" title="" /></p>

<p><img src="http://f.cl.ly/items/0O3A451Q0T2U3T1S3k0H/owl.jpg" alt="" title="" /></p>

<h1>License</h1>

<p>MIT</p>
</article>
</body>
</html>