<!DOCTYPE html>
<html>
<head>
<title>component/sparkline</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>sparkline</h1>

<p>Tiny javascript sparkline canvas graphs.</p>

<p><img src="http://f.cl.ly/items/06470C043x150Q3N321L/spark.png" alt="js sparkline" title="" /></p>

<h2>Installation</h2>

<pre><code>$ component install component/sparkline
</code></pre>

<h2>API</h2>

<h3>Sparkline(canvas)</h3>

<p>Initialize with the given <code>canvas</code>.</p>

<h3>Sparkline#update(data)</h3>

<p>Update <code>data</code> points, a series of floats. The sparkline<br />  will be drawn and automatically compressed to fit within<br />  the <code>canvas</code> dimensions.</p>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>