<!DOCTYPE html>
<html>
<head>
<title>component/model-timestamps</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>model-timestamps</h1>

<p><code>created_at</code> / <code>updated_at</code> for model</p>

<h2>Installation</h2>

<pre><code>$ component install component/model-timestamps
</code></pre>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>