<!DOCTYPE html>
<html>
<head>
<title>component/dom</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>dom</h1>

<p>jQuery inspired DOM traversal / manipulation component. Aggregates the<br />  following components to create a more familiar experience when you need<br />  the combined functionality of:</p>

<ul>
<li><a href="http://github.com/component/domify">domify</a> to convert HTML to DOM nodes</li>
<li><a href="http://github.com/component/classes">classes</a> to add, remove, and toggle classes</li>
<li><a href="http://github.com/component/delegate">delegate</a> for event delegation</li>
<li><a href="http://github.com/component/event">event</a> for event binding</li>
<li><a href="http://github.com/component/type">type</a> for type checking</li>
</ul>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ component install component/dom
</pre></div>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var dom = require('dom');

dom('li').select(function(el){
  return el.text() == 'Maru';
}).addClass('amazing');
</pre></div>

<h2>API</h2>

<p>... not even remotely done, feel free to fork and help ...</p>

<h2>API</h2>

<ul>
<li><a href="#domid">dom(id)</a></li>
<li><a href="#domhtml">dom(html)</a></li>
<li><a href="#length">.length()</a></li>
<li><a href="#geti">.get(i)</a></li>
<li><a href="#ati">.at(i)</a></li>
<li><a href="#first">.first()</a></li>
<li><a href="#last">.last()</a></li>
<li><a href="#addclassname">.addClass(name)</a></li>
<li><a href="#removeclassname">.removeClass(name)</a></li>
<li><a href="#toggleclassname">.toggleClass(name)</a></li>
<li><a href="#hasclassname">.hasClass(name)</a></li>
<li><a href="#findselector">.find(selector)</a></li>
<li><a href="#eachfn">.each(fn)</a></li>
<li><a href="#foreachfn">.forEach(fn)</a></li>
<li><a href="#mapfn">.map(fn)</a></li>
<li><a href="#selectfn">.select(fn)</a></li>
<li><a href="#filterfn">.filter(fn)</a></li>
<li><a href="#cssprop-value">.css(prop, value)</a></li>
<li><a href="#cssprop">.css(prop)</a></li>
</ul>

<p><a name="domid"></a></p>

<h3>dom(id)</h3>

<p>should return an element by id.</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li id="one">foo</li><li id="two">bar</li></ul>');
list = dom('#two', list);
assert(1 == list.length(), 'expected length of 1');
assert('bar' == list.get(0).textContent);
</pre></div>

<p><a name="domhtml"></a></p>

<h3>dom(html)</h3>

<p>should return a dom List of elements.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
assert('Hello' == list.get(0).textContent);
</pre></div>

<p><a name="length"></a></p>

<h3>.length()</h3>

<p>should return the number of elements.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
assert(1 == list.length());
</pre></div>

<p><a name="geti"></a></p>

<h3>.get(i)</h3>

<p>should return the element at i.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
assert('Hello' == list.get(0).textContent);
</pre></div>

<p><a name="ati"></a></p>

<h3>.at(i)</h3>

<p>should return the element at i as a List.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
assert('Hello' == list.at(0).get(0).textContent);
</pre></div>

<p><a name="first"></a></p>

<h3>.first()</h3>

<p>should return the first element in the List.</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');
assert('foo' == list.first().text());
</pre></div>

<p><a name="last"></a></p>

<h3>.last()</h3>

<p>should return the last element in the List.</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');
assert('bar' == list.last().text());
</pre></div>

<p><a name="addclassname"></a></p>

<h3>.addClass(name)</h3>

<p>should add the given class name.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
list.addClass('foo').addClass('bar');
assert('foo bar' == list.get(0).className);
</pre></div>

<p><a name="removeclassname"></a></p>

<h3>.removeClass(name)</h3>

<p>should remove the given class name.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
list.addClass('foo').addClass('bar').removeClass('foo');
assert('bar' == list.get(0).className);
</pre></div>

<p><a name="toggleclassname"></a></p>

<h3>.toggleClass(name)</h3>

<p>should toggle the given class name.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');

list.toggleClass('show');
assert('show' == list.get(0).className);

list.toggleClass('show');
assert('' == list.get(0).className);
</pre></div>

<p><a name="hasclassname"></a></p>

<h3>.hasClass(name)</h3>

<p>should return true when the classname is present.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>').addClass('show');
assert(true === list.hasClass('show'));
</pre></div>

<p>should return false when the classname is not present.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>').addClass('show');
assert(false === list.hasClass('hide'));
</pre></div>

<p><a name="findselector"></a></p>

<h3>.find(selector)</h3>

<p>should return descendants matching the selector.</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>');
list = list.find('li');
assert(2 == list.length());
</pre></div>

<p><a name="eachfn"></a></p>

<h3>.each(fn)</h3>

<p>should iterate passing (list, i).</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');

var indexes = [];
var values = [];
var ret = list.each(function(el, i){
  indexes.push(i);
  values.push(el);
});

assert(ret == list, 'should return self for chaining');
assert(0 == indexes[0]);
assert(1 == indexes[1]);
assert(values[0] instanceof dom.List, 'values should be dom lists');
assert(list.get(0) == values[0].get(0));
assert(list.get(1) == values[1].get(0));
</pre></div>

<p><a name="foreachfn"></a></p>

<h3>.forEach(fn)</h3>

<p>should iterate passing (el, i).</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');

var indexes = [];
var values = [];
var ret = list.forEach(function(el, i){
  indexes.push(i);
  values.push(el);
});

assert(ret == list, 'should return self for chaining');
assert(0 == indexes[0]);
assert(1 == indexes[1]);
assert(!(values[0] instanceof dom.List), 'values should be elements');
assert(list.get(0) == values[0]);
assert(list.get(1) == values[1]);
</pre></div>

<p><a name="mapfn"></a></p>

<h3>.map(fn)</h3>

<p>should map passing (list, i).</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');

var ret = list.map(function(el, i){
  return el.text();
}).join('|');

assert('foo|bar' == ret);
</pre></div>

<p><a name="selectfn"></a></p>

<h3>.select(fn)</h3>

<p>should filter passing (list, i).</p>

<div class="highlight"><pre lang="js">var list = dom('<ul><li>foo</li><li>bar</li></ul>').find('li');

var selected = list.select(function(el){
  return el.text() == 'bar';
});

assert(1 == selected.length(), 'invalid length');
assert(selected.get(0) == list.get(1));
</pre></div>

<p><a name="filterfn"></a></p>

<h3>.filter(fn)</h3>

<p>should alias .select.</p>

<div class="highlight"><pre lang="js">assert(dom.List.prototype.filter == dom.List.prototype.select);
</pre></div>

<p><a name="cssprop-value"></a></p>

<h3>.css(prop, value)</h3>

<p>should set a style value.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
list.css('display', 'none');
assert('none' == list.get(0).style.display);
</pre></div>

<p><a name="cssprop"></a></p>

<h3>.css(prop)</h3>

<p>should get a style value.</p>

<div class="highlight"><pre lang="js">var list = dom('<em>Hello</em>');
list.css('display', 'none');
assert('none' == list.css('display'));
</pre></div>

<h2>Notes</h2>

<p>It is recommended that you do <em>not</em> depend on this library directly<br />  when creating public components, unless you require most or all of<br />  the functionality provided. Otherwise it is preferred that you use<br />  the smaller more specific components.</p>

<p>This lib will not include <em>any</em> XHR support, that is out of scope,<br />  this library is for DOM manipulation, traversal, and events only.</p>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>