<h1>pad</h1>

<p>Trims string whitespace.</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ npm install pad-component
$ component install component/pad
</pre></div>

<h2>API</h2>

<h3>pad(str, len[, char])</h3>

<p>Pad <code>str</code> on both sides to the given <code>len</code>, with optional <code>char</code><br />  defaulting to a space.</p>

<h3>pad.left(str, len[, char])</h3>

<p>Pad <code>str</code> on the left to the given <code>len</code> with optional <code>char</code>.</p>

<h3>pad.right(str, len[, char])</h3>

<p>Pad <code>str</code> on the right to the given <code>len</code> with optional <code>char</code>.</p>

<h2>License</h2>

<p>MIT</p>