<!DOCTYPE html>
<html>
<head>
<title>component/rounded-rect</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>rounded-rect</h1>

<p>Rounded canvas rectangles.</p>

<p><img src="http://f.cl.ly/items/413G0H420I0L3F1A4025/Screen%20Shot%202012-10-10%20at%201.05.32%20PM.png" alt="canvas rounded rectangles" title="" /></p>

<h2>Installation</h2>

<pre><code>$ component install component/rounded-rect
</code></pre>

<h2>API</h2>

<div class="highlight"><pre lang="js">var rect = require('rounded-rect');
rect(ctx, x, y, w, h, r);
</pre></div>

<h1>License</h1>

<p>MIT</p>
</article>
</body>
</html>