<!DOCTYPE html>
<html>
<head>
<title>component/convolve</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>convolve</h1>

<p>Canvas <a href="http://en.wikipedia.org/wiki/Convolution">convolution</a> filter.</p>

<p><img src="https://s3.amazonaws.com/files.droplr.com/files_production/acc_5213/MQXC?AWSAccessKeyId=AKIAJSVQN3Z4K7MT5U2A&amp;Expires=1348635022&amp;Signature=i14itNXW%2B0GAG8MQfQ38MgEahiQ%3D&amp;response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Screen%2BShot%2B2012-09-25%2Bat%2B8.50.08%2BPM.png" alt="" title="" /></p>

<h2>API</h2>

<h3>convolve(matrix)</h3>

<p>Return a new convolution <code>Filter</code> with the given <code>matrix</code>.</p>

<h3>Filter#factor(n)</h3>

<p>Change the factor to <code>n</code>, defaults to <code>1</code>.</p>

<h3>Filter#bias(n)</h3>

<p>Change the bias to <code>n</code>, defaults to <code>0</code>.</p>

<h3>Filter#width(n)</h3>

<p>Canvas width.</p>

<h3>Filter#height(n)</h3>

<p>Canvas height.</p>

<h3>Filter#apply(input, result)</h3>

<p>Apply the convolution filter to the <code>input</code> ImageData, populating <br />  the <code>result</code> ImageData. This is a lower-level method, you most<br />  likely want to apply to the entire canvas, in which case use below:</p>

<h3>Filter#canvas(canvas)</h3>

<p>Apply the convolution filter to the entire <code>canvas</code><br />  and immediately draw the results.</p>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var convolve = require('convolve');
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext('2d');

var img = new Image;
img.onload = draw;
img.src = 'maru.jpg';

var sharpen = [
  [-1, -1, -1],
  [-1, 9, -1],
  [-1, -1, -1]
];

var blur = [
  [0, .2, 0],
  [.2, .2, .2],
  [0, .2, 0],
];

// factor 1 / 7
var motionBlur = [
  [1, 0, 0, 0, 0, 0, 0],
  [0, 1, 0, 0, 0, 0, 0],
  [0, 0, 1, 0, 0, 0, 0],
  [0, 0, 0, 1, 0, 0, 0],
  [0, 0, 0, 0, 1, 0, 0],
  [0, 0, 0, 0, 0, 1, 0],
  [0, 0, 0, 0, 0, 0, 1]
];

var edges = [
  [0, -1, 0],
  [-1, 4, -1],
  [0, -1, 0]
];

function draw() {
  canvas.width = img.width;
  canvas.height = img.height;
  ctx.drawImage(img, 0, 0);
  convolve(motionBlur)
    .factor(1 / 7)
    .canvas(canvas);
}
</pre></div>

<h1>License</h1>

<p>MIT</p>
</article>
</body>
</html>