<!DOCTYPE html>
<html>
<head>
<title>component/range</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>range</h1>

<p>Return a range of integers</p>

<h2>Installation</h2>

<pre><code>$ component install component/range
</code></pre>

<h2>API</h2>

<p>Exclusive range:</p>

<div class="highlight"><pre lang="js">range(5, 10);
// => [5,6,7,8,9]
</pre></div>

<p>Inclusive range (truthy value):</p>

<div class="highlight"><pre lang="js">range(5, 10, true);
range(5, 10, 'inclusive');
// => [5,6,7,8,9,10]
</pre></div>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>