<!DOCTYPE html>
<html>
<head>
<title>component/clone</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>clone</h1>

<p>Object clone supporting <code>date</code>, <code>regexp</code>, <code>array</code> and <code>object</code> types.</p>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var obj = clone({
  a: 'b',
  c: [
    new Date(),
    'tobi',
    'jane'
  ]
})
</pre></div>

<h2>API</h2>

<h3>clone(obj)</h3>

<p>Clones <code>obj</code> recursively and returns it.</p>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>