<h1>Confirmation Popover</h1>

<p>Popover confirmation component built on top of <a href="http://github.com/component/popover">Popover</a>.</p>

<p><img src="http://f.cl.ly/items/2H3a3C1M1k071z1B360I/Screen%20Shot%202012-08-06%20at%2012.16.59%20PM.png" alt="js popover confirmation component" title="" /></p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ component install component/confirmation-popover
</pre></div>

<h2>Features</h2>

<ul>
<li>all the features of Popover / Tip</li>
</ul>

<h2>Events</h2>

<ul>
<li><code>show</code> the confirmation is shown</li>
<li><code>hide</code> the confirmation is hidden</li>
<li><code>cancel</code> the user closed the confirmation or cancelled</li>
<li><code>ok</code> the user accepted</li>
</ul>

<h2>API</h2>

<h3>new ConfirmationPopover(msg, [title])</h3>

<p>Create a new popover with <code>msg</code> and optional <code>title</code>.</p>

<div class="highlight"><pre lang="js">var Confirmation = require('confirmation-popover');
var confirm = new Confirmation('This action cannot be undone.', 'Delete tobi?');
confirm.show(el);
</pre></div>

<h3>.focus(type)</h3>

<p>By default the "cancel" button is focused, however you<br />  may invoke <code>.focus('ok')</code>.</p>

<h3>.cancel(text)</h3>

<p>Set cancel button <code>text</code>.</p>

<h3>.ok(text)</h3>

<p>Set cancel ok <code>text</code>.</p>

<h3>.show(el, [fn])</h3>

<p>Attach to <code>el</code>, and invoke <code>fn</code> with<br />  a boolean representing the user's choice.</p>

<p>When <code>fn</code> is omitted you may still utilize the <code>cancel</code> / <code>ok</code> events.</p>

<h3>...</h3>

<p>View <a href="http://github.com/component/tip">Tip</a> and <a href="http://github.com/component/popover">Popover</a> for additional<br />  API documentation.</p>

<h2>License</h2>

<p>MIT</p>