<!DOCTYPE html>
<html>
<head>
<title>component/regexps</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>regexps</h1>

<p>Collection of regular expressions.</p>

<h2>Installation</h2>

<pre><code>$ component install component/regexps
</code></pre>

<h2>API</h2>

<p>These are exported:</p>

<ul>
<li><code>email</code></li>
<li><code>url</code></li>
<li><code>cc</code></li>
<li><code>urlsafe</code></li>
</ul>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>