<h1>clipboard-dom</h1>

<p>Makes a DOM element (i.e. &lt;button&gt;) write to the system clipboard</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ component install component/clipboard-dom
</pre></div>

<h2>Example</h2>

<div class="highlight"><pre lang=" html"><html>
  <body>
    <!-- The "copy-button" *should* be inside a div with "position: relative"
         or something else that "has layout". -->
    <div style="position: relative;">
      <button id="copy-button">Copy to Clipboard</button>
    </div>

<p><script src="build/build.js"></script><br />    <script src="main.js"></script><br />  </body><br /></html><br /></pre></div></p>

<div class="highlight"><pre lang=" js">// main.js

var Clip = require('clipboard-dom');

// set the path to the swf file first
Clip.swf('/swf/ZeroClipboard.swf');

// create a "Clip" instance
var ele = document.getElementById('copy-button');
var parent = ele.parentNode; // parent should "have layout"
var clip = new Clip(ele, parent);

// listen for meaningful events
clip.on('load', function(){
  console.log('button loaded');
});

clip.on('completed', function(text){
  console.log('copied text to the clipboard:', text);
});

clip.on('mousedown', function() {
  // "mousedown" is the last chance to set the text before it gets copied
  var input = document.getElementById('copy-text');
  clip.text(input.value);
});
</pre></div>

<h2>Events</h2>

<h3>"load"</h3>

<p>Fired when the SWF movie for the clipboard instance has loaded.</p>

<h3>"complete"</h3>

<p>Fired when the user clicks on the button and the text has been copied.<br />The text that got copied is passed in as an argument.</p>

<h3>"mouseover"</h3>

<p>Fired when the user mouses over the button.</p>

<h3>"mouseout"</h3>

<p>Fired when the user mouses away from the button.</p>

<h3>"mousedown"</h3>

<p>Fired when the user pressed the mouse down on the button.</p>

<h3>"mouseup"</h3>

<p>Fired when the user releases the mouse from the button.</p>