<!DOCTYPE html>
<html>
<head>
<title>component/object</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>object</h1>

<p>Object utils.</p>

<h2>API</h2>

<h3>.keys(obj)</h3>

<p>Return the keys for <code>obj</code>.</p>

<h3>.values(obj)</h3>

<p>Return the values for <code>obj</code>.</p>

<h3>.length(obj)</h3>

<p>Return the number of keys for <code>obj</code>.</p>

<h3>.isEmpty(obj)</h3>

<p>Check if <code>obj</code> is empty.</p>

<h3>.merge(a, b)</h3>

<p>Merge object <code>b</code> into <code>a</code>, returns <code>a</code>.<br />  Precedence is given to <code>b</code>.</p>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>