<!DOCTYPE html>
<html>
<head>
<title>component/inherit</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>inherit</h1>

<p>Prototype inheritance utility.</p>

<h2>Installation</h2>

<div class="highlight"><pre lang="">$ component install component/inherit
</pre></div>

<h2>Example</h2>

<div class="highlight"><pre lang="js">var inherit = require('inherit');

function Animal() {}
function Pet() {}

inherit(Animal, Pet);
</pre></div>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>