<!DOCTYPE html>
<html>
<head>
<title>component/color</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>color</h1>

<p>RGBA / HSLA color manipulation</p>

<h2>Installation</h2>

<pre><code>$ component install component/color
</code></pre>

<h2>API</h2>

<h3>.rgba(r, g, b, a)</h3>

<p>Return an <code>RGBA</code> object.</p>

<h3>.hsla(h, s, l, a)</h3>

<p>Return an <code>HSLA</code> object.</p>

<h3>.RGBA(r, g, b, a)</h3>

<p>The <code>RGBA</code> constructor.</p>

<h3>.HSLA(h, s, l, a)</h3>

<p>The <code>HSLA</code> constructor.</p>

<h3>RGBA#toRGBA()</h3>

<p>Returns itself.</p>

<h3>HSLA#toRGBA()</h3>

<p>Return the <code>RGBA</code> representation.</p>

<h3>RGBA#toHSLA()</h3>

<p>Return the <code>HSLA</code> representation.</p>

<h3>HSLA#toHSLA()</h3>

<p>Returns itself.</p>

<h3>RGBA#toString()</h3>

<p>Return the string representation, for example "#f00", or "rgba(255,0,0,.5)".</p>

<h3>HSLA#toString()</h3>

<p>Return the string representation, for example "hsla(0,100,50,1)".</p>

<h1>License</h1>

<p>MIT</p>
</article>
</body>
</html>