<!DOCTYPE html>
<html>
<head>
<title>component/states</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>states</h1>

<p>An object containing states.</p>

<h2>Installation</h2>

<pre><code>$ component install component/states
</code></pre>

<h2>API</h2>

<div class="highlight"><pre lang="js">module.exports = {
  AL: 'Alabama',
  AK: 'Alaska',
  AZ: 'Arizona',
  AR: 'Arkansas',
  CA: 'California',
...
</pre></div>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>