<!DOCTYPE html>
<html>
<head>
<title>component/countries</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../style.css">
</head>
<body id="readme">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">
<h1>countries</h1>

<p>An object containing countries keyed by their associated two-letter code.</p>

<h2>Installation</h2>

<pre><code>$ component install component/countries
</code></pre>

<h2>API</h2>

<div class="highlight"><pre lang="js">module.exports = {
  "us": "United States",
  "ca": "Canada",
  "af": "Afghanistan",
...
</pre></div>

<h2>License</h2>

<p>MIT</p>
</article>
</body>
</html>