<h1>TouchIt.js</h1>

<p>Multi-touch event simulation for your browser!</p>

<p><img src="http://f.cl.ly/items/3L1j2b0w2u1v0b2k1t21/Screen%20Shot%202012-08-31%20at%209.50.17%20PM.png" alt="js multi-touch simulation" title="" /></p>

<h2>Usage</h2>

<p>Simply <code>require('touchit')()</code> and you're good to go! Touch events<br />  will be bound, you'll be able to swipe, tap, double-tap, pinch and zoom!<br />  Hold down <em>alt</em> and drag to add a second finger for transforming elements.</p>

<h2>License</h2>

<p>MIT</p>